* {
	padding: 0;
	margin: 0;
}
html {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.background {
	background-image: linear-gradient(39deg, rgba(6,1,94,1) 0%, rgba(1,1,153,1) 37%, rgba(0,212,255,1) 100%);
}
.wrapper {
	max-width: 1100px;
	margin: auto;
}

/*Header*/

header {
	display: flex;
}
img {
	max-width: 160px;
}
.folio-menu {
	margin: 0px auto;
}
ul.folio-ul {
	display: flex;
	justify-content: center;
	margin: 0px auto;
}
li.folio-li {
	list-style: none;
	padding-left: 60px;
	padding-top: 25px;
}
li.folio-li a {
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
}
#social_logo {
	max-width: 25px;
	padding-top: 25px;
	padding-left: 40px;
}


/*for mobile and tablets*/


/*My Work*/

.my_work {
	margin-top: 80px;
}

h1.my-work {
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
#sites_preview {
	max-width: 300px;
    margin-top: 50px;
    /*box-shadow: -1px -2px 5px 3px #6fbf79;*/
    margin-left: 50px;

}
.site-logo{
 	position:relative;   
    /*width: 300px;*/
    display: inline;
    
}
.block{
    position:absolute;
    left:50px;
    bottom:4px;
    right:4px;
    top: -157px;
    background:rgba(29,28,28, 0.95);
     padding:50px;
    display:none;
}

.site-logo:hover .block{
    display:block;
}
h2 {
	color: #fff;
}
h2:hover {
	color: #6ac5ec;
}
p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
#hover_icon {
	max-width: 35px;
    padding-left: 20px;
    padding-top: 30px;
}

/*technologies*/
#technologies {
	margin-top: 120px;
}

h3 {
	text-transform: uppercase;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
.tech_logos {
    margin: 60px auto;
    justify-content: space-evenly;
	display: flex;
	max-width: 850px;
}
#logo_techno {
	max-width: 6%;
}

/*about*/

#about {
	max-width: 825px;
	margin: 100px auto;
	display: flex;
}
.my_photo {
	padding-left: 80px;
}
#portrait {
	float: left;
	max-width: 190px;
	border-radius: 120px;
}
.about_me {
	margin: auto 60px;
	padding-top: 0px;
}
#social_logo_about {
	max-width: 25px;
	padding-top: 25px;
	padding-right: 30px;
}
#desc_about_me {
	font-size: 20px;
	text-align: justify;
}

/*footer*/

#footer_info {
    display: flex;
    align-items: center;
}
#footer {
    margin: 138px auto 0px;
    display: flex;
    justify-content: center;
}
#up_arrow {
	max-width: 40px;
	margin-left: 40px;
}





