/*medium devices*/
#mobile {
	display: none;
}
@media screen and (max-width: 1100px) {
	* {
	padding: 0;
	margin: 0;
}
html {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.background {
	background-image: linear-gradient(39deg, rgba(6,1,94,1) 0%, rgba(1,1,153,1) 37%, rgba(0,212,255,1) 100%);
}
.wrapper {
	max-width: 900px;
	margin: auto;
}

/*Header*/
header {
	display: flex;
}
img {
	max-width: 160px;
}
.folio-menu {
	margin: 0px auto;
}
ul.folio-ul {
	display: flex;
	justify-content: center;
	margin: auto;
}
li.folio-li {
	list-style: none;
	padding-left: 60px;
	padding-top: 25px;
}
li.folio-li a {
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
}
#social_logo {
	max-width: 25px;
	padding-top: 25px;
	padding-left: 40px;
}


/*My Work*/

.my_work {
	margin-top: 100px;
}

h1.my-work {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
#sites_preview {
	max-width: 230px;
    margin-top: 50px;
    margin:100px 30px 0px;

}
.site-logo{
 	position:relative;   
    /*width: 300px;*/
    display: inline;
    
}
.block{
    position:absolute;
    left: 30px;
    bottom: 4px;
    right:34px;
    top: -117px;
    background:rgba(29,28,28, 0.95);
    padding: 20px 50px 50px 20px;
    display:none;
}

.site-logo:hover .block{
    display:block;
}
h2 {
	color: #fff;
	font-size: 20px
}
h2:hover {
	color: #6ac5ec;
}
p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
#hover_icon {
	max-width: 25px;
    padding-left: 24px;
    padding-top: 30px;
}

/*technologies*/

h3 {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 80px;
}
.tech_logos {
    margin: 60px auto;
    justify-content: space-evenly;
	display: flex;
	max-width: 800px;
}
#logo_techno {
	max-width: 6%;
}

/*about*/

#about {
	max-width: 750px;
	margin: 100px auto;
	display: flex;
}
#portrait {
	float: left;
	max-width: 180px;
    border-radius: 120px;
}
.about_me {
	margin: auto 60px;
	padding-top: 0px;
}
#social_logo_about {
	max-width: 25px;
	padding-top: 25px;
	padding-right: 30px;
}
#desc_about_me {
	font-size: 18px;
	text-align: justify;
}

/*footer*/

#footer_info {
    display: flex;
    align-items: center;
}
#footer {
    margin: 138px auto 0px;
    display: flex;
    justify-content: center;
}
#up_arrow {
	max-width: 40px;
	margin-left: 40px;
}
}

/* for tablets*/
@media screen and (max-width: 879px) {

* {
	padding: 0;
	margin: 0;
}
html {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.background {
	background-image: linear-gradient(39deg, rgba(6,1,94,1) 0%, rgba(1,1,153,1) 37%, rgba(0,212,255,1) 100%);
}
.wrapper {
	max-width: 700px;
	margin: auto;
}

/*Header*/

#mobile {
	display: flex;
}
header {
	display: none;
}
img {
	max-width: 160px;
}
ul.mob-folio-ul {
	display: none;
	justify-content: center;
	margin: auto;
}
li.mob-folio-li {
	list-style: none;
	padding-left: 0px;
	padding-top: 25px;
}
li.mob-folio-li a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
}
.logo {
	margin: 0px auto;
}
#social_logo {
	display: flex;
	max-width: 25px;
	padding-top: 25px;
	padding-left: 40px;
}
.social {
	margin: 0px auto;
	display: flex;
}
.mob-folio-menu [type="checkbox"]{
	display: none;
}
.mob-folio-menu label.toggleMenu {
	display: block;
	padding-top: 22px;
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 3px;
}
.mob-folio-menu {
	margin: 0px auto;
}
input.toggleMenu:checked + label.toggleMenu {
	color: #a0e812;

}
input.toggleMenu:checked ~ ul{
	display: block;
}


/*My Work*/

.my_work {
	margin-top: 50px;
}

h1.my-work {
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
#sites_preview {
	max-width: 400px;
    margin: 50px auto;
	display: flex;
}
.site-logo{
 	position:relative;   
    /*width: 300px;*/
    display: inline;
    
}
.block{
    position:absolute;
    left:150px;
    bottom:50px;
    right:18px;
    top: -278px;
    background:rgba(29,28,28, 0.95);
    padding:50px;
    display:none;
    width: 300px;
}

.site-logo:hover .block{
    display:block;
}
h2 {
	color: #fff;
	font-size: 30px;
}
h2:hover {
	color: #6ac5ec;
}
p {
	color: #fff;
}
#hover_icon {
	max-width: 35px;
    padding-left: 20px;
    padding-top: 30px;
}

/*technologies*/

h3 {
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 100px;
}
.tech_logos {
    margin: 60px auto;
    justify-content: space-evenly;
	display: flex;
	max-width: 780px;
}
#logo_techno {
	max-width: 6%;
}

/*about*/
.my_photo {
	padding-left: 10px;
}
#about {
	max-width: 800px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
}
#portrait {
	float: left;
	max-width: 190px;
    border-radius: 120px;
    margin: auto;
}
.about_me {
	margin: auto 50px;
	max-width: 295px;
}
#social_logo_about {
	max-width: 25px;
	padding-top: 25px;
	padding-right: 30px;
}
#desc_about_me {
	font-size: 17px;
}

/*footer*/

#footer_info {
    display: flex;
    align-items: center;
}
#footer {
    margin: 138px auto 0px;
    display: flex;
    justify-content: center;
}
#up_arrow {
	max-width: 40px;
	margin-left: 40px;
}
}
/* for mobile*/
@media screen and (max-width: 500px) {

* {
	padding: 0;
	margin: 0;
}
html {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.background {
	background-image: linear-gradient(39deg, rgba(6,1,94,1) 0%, rgba(1,1,153,1) 37%, rgba(0,212,255,1) 100%);
}
.wrapper {
	max-width: 700px;
	margin: auto;
}

/*Header*/

#mobile {
	display: flex;
}
header {
	display: none;
}
img {
	max-width: 175px;
}
ul.mob-folio-ul {
	display: none;
	justify-content: center;
	margin: auto;
}
li.mob-folio-li {
	list-style: none;
	padding-left: 0px;
	padding-top: 22px;
}
li.mob-folio-li a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
}
.logo {
	margin: 0px auto;
}
#social_logo {
	display: flex;
	max-width: 25px;
	padding-top: 25px;
	padding-left: 30px;
}
.social {
	margin: 0px auto;
	display: flex;
}
.mob-folio-menu [type="checkbox"]{
	display: none;
}
.mob-folio-menu label.toggleMenu {
	display: block;
	padding-top: 25px;
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 3px;
}
.mob-folio-menu {
	margin: 0px auto;
}
input.toggleMenu:checked + label.toggleMenu {
	color: #a0e812;

}
input.toggleMenu:checked ~ ul{
	display: block;
}


/*My Work*/

.my_work {
	margin-top: 50px;
}

h1.my-work {
	text-transform: uppercase;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
#sites_preview {
	max-width: 70%;
	height: auto;
    margin: 50px auto;
	display: flex;
}
.site-logo{
 	position:relative;   
    /*width: 300px;*/
    display: inline;
    
}
.block{
    position:absolute;
    left:70px;
    bottom:50px;
    right:3px;
    top: -236px;
    background:rgba(29,28,28, 0.95);
    padding:50px;
    display:none;
    width: 225px;
}

.site-logo:hover .block{
    display:block;
}
h2 {
	color: #fff;
	font-size: 26px;
}
h2:hover {
	color: #6ac5ec;
}
p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
#hover_icon {
	max-width: 35px;
    padding-left: 20px;
    padding-top: 30px;
}

/*technologies*/

h3 {
	text-transform: uppercase;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 100px;
}
.tech_logos {
    margin: 60px auto;
    justify-content: space-evenly;
	display: flex;
	max-width: 800px;
}
#logo_techno {
	max-width: 6%;
}

/*about*/
.my_photo {
	padding-left: 10px;
}
#about {
	max-width: 800px;
	margin: 80px auto;
	display: flex;
}
#portrait {
	float: left;
	max-width: 140px;
    border-radius: 120px;
}
.about_me {
	margin: auto 40px;
	padding-top: 0px;
}
#social_logo_about {
	max-width: 25px;
	padding-top: 25px;
	padding-right: 30px;
}
#desc_about_me {
	font-size: 12px;
	text-align: justify;
}

/*footer*/

#footer_info {
    display: flex;
    align-items: center;
}
#footer {
    margin: 138px auto 0px;
    display: flex;
    justify-content: center;
}
#up_arrow {
	max-width: 40px;
	margin-left: 40px;
}
}
/*for mini mobile*/
@media screen and (max-width: 450px) {

* {
	padding: 0;
	margin: 0;
}
html {
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
.background {
	background-image: linear-gradient(39deg, rgba(6,1,94,1) 0%, rgba(1,1,153,1) 37%, rgba(0,212,255,1) 100%);
}
.wrapper {
	max-width: 700px;
	margin: auto;
}

/*Header*/

#mobile {
	display: flex;
}
header {
	display: none;
}
img {
	max-width: 135px;
}
ul.mob-folio-ul {
	display: none;
	justify-content: center;
	margin: auto;
}
li.mob-folio-li {
	list-style: none;
	padding-left: 0px;
	padding-top: 25px;
}
li.mob-folio-li a {
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
}
.logo {
	margin: 0px auto;
	padding-top: 5px;
}
#social_logo {
	display: flex;
	max-width: 20px;
	padding-top: 18px;
	padding-left: 20px;
}
.social {
	margin: 0px auto;
	display: flex;
}
.mob-folio-menu [type="checkbox"]{
	display: none;
}
.mob-folio-menu label.toggleMenu {
	display: block;
	padding-top: 18px;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 3px;
}
.mob-folio-menu {
	margin: 0px auto;
}
input.toggleMenu:checked + label.toggleMenu {
	color: #a0e812;

}
input.toggleMenu:checked ~ ul{
	display: block;
}


/*My Work*/

.my_work {
	margin-top: 50px;
}

h1.my-work {
	text-transform: uppercase;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
#sites_preview {
	max-width: 80%;
	height: auto;
    margin: 50px auto;
	display: flex;
}
.site-logo{
 	position:relative;   
    /*width: 300px;*/
    display: inline;
    
}
.block{
    position:absolute;
    left:42px;
    bottom:50px;
    right:100px;
    top: -239px;
    background:rgba(29,28,28, 0.95);
    padding:50px;
    display:none;
    width: 232px;
}

.site-logo:hover .block{
    display:block;
}
h2 {
	color: #fff;
	font-size: 20px;
}
h2:hover {
	color: #6ac5ec;
}
p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
#hover_icon {
	max-width: 25px;
    padding-right: 20px;
    padding-left: 0px;
    padding-top: 30px;
}

/*technologies*/
#technologies {
	margin-top: 90px;
}

h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
.tech_logos {
    margin: 40px auto;
    justify-content: space-evenly;
	display: flex;
	max-width: 350px;
}
#logo_techno {
	max-width: 7%;
	max-height: 7%;
}

/*about*/
.my_photo {
	padding-left: 10px;
}
#about {
	max-width: 800px;
	margin: 100px auto;
	display: flex;
}
#portrait {
	float: left;
	max-width: 140px;
    border-radius: 120px;
}
.about_me {
	margin: auto 40px;
	padding-top: 0px;
}
#social_logo_about {
	max-width: 20px;
	padding-top: 20px;
	padding-right: 20px;
}
#desc_about_me {
	font-size: 11px;
}

/*footer*/

#footer_info {
    display: flex;
    align-items: center;
}
#footer {
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
}
#up_arrow {
	max-width: 40px;
	margin-left: 40px;
}
}